# {{ ansible_managed }}

[Unit]
Description=MiaRec Live Monitoring
After=network.target

[Service]
Type=simple
User={{ miarec_livemon_bin_user }}
Group={{ miarec_livemon_bin_group }}
UMask={{ miarec_livemon_bin_umask }}
RuntimeDirectory=miarec_livemon
WorkingDirectory={{ miarec_livemon_work_dir }}
ExecStart={{ miarec_livemon_install_dir }}/current/miarec_livemon -config {{ miarec_livemon_install_dir }}/production.ini
LimitNOFILE=10240
LimitFSIZE=infinity

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
